* {
    margin: 0;
    padding: 0;
  }

/*---------選單---------*/
.frame{
	display:flex;
	align-items:center;
}
.logo{
	flex:none;
	width:90px;
	padding-left:10px;
}
.menu{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	flex:auto;
}
.item{
	flex:none;
	width:50px;
	padding:10px;
	text-align:center;
}
.mobile-menu{
    display:none;
    position:absolute;
    top:0px;
    right:5px;
    justify-content:flex-end;
    align-items:center;
    height:30px;
}

/*---------banner---------*/
.banner{
    background-color:lightblue;
    height:300px;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    line-height:300px;
    margin-bottom:30px;
    width:100%;
}

/*---------promotion---------*/
.wrap1{
    display:flex;
    justify-content:space-between;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px
}
.container1{
    width:49.5%;
    display:flex;
}
.container1 img{
    width:80px;
    height:50px;
    object-fit: cover;
}
.promotion{
    flex-grow:1;
    height:50px;
    line-height:50px;
    background-color:lightblue;
    padding-left:10px;
}

/*---------title---------*/
.wrap2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    flex-wrap:wrap;
}
.container2{
    margin-bottom:10px;
    position:relative;
}
.star_icon_img{
    display:block;
    width:30px;
    height:30px;
    position:absolute;
    top:8px;
    right:8px;
}
.title_img{
    width:290px;
    height:190px;
    vertical-align:top;
}
.title{
    display:block;
    position:absolute;
    bottom:0px;
    width:290px;
    height:50px;
    line-height:50px;
    background:rgb(250,250,250,0.7);
    text-align:center;
}

/*---------RWD---------*/
@media(max-width:1200px){
    .wrap1{
        flex-wrap:wrap;
        width:90%;
    }
    .container1{
        width:49.5%;
    }
    .wrap2{
        flex-wrap:wrap;
        width:90%;
    }
    .container2{
        width:49.5%;
    }
    .title_img{
        width:100%;
        height:100%;
    }
    .title{
        width:100%;
    }
}

@media(max-width:600px){
    .frame{
        position:relative;
        height:30px;
    }
    .menu{
        display:none;
    }
    .mobile-menu{
        display:block;
    }
    .wrap1{
        flex-wrap:wrap;
        margin-bottom:0px;
        justify-content:center;
    }
    .container1{
        width:90%;
    }
    .container1 img{
        margin-bottom:10px;
    }
    .promotion{
        flex:auto;
    }
    .wrap2{
        flex-wrap:wrap;
        justify-content:center;
    }
    .container2{
        width:90%;
    }
    .title_img{
        flex:auto;
    }
    .title{
        width:100%;
    }
}
